body {
background: white;
}


h1 {

  font-family: "sarala", sans-serif;
    color:rgb(0, 0, 0);
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-decoration: underline wavy #f80d9e
}


h2 { 

font-family: "sarala", sans-serif;
color:rgb(0, 0, 0);
font-size: 20px;
display: flex;
justify-content: center;
text-decoration: underline wavy #69e2ef;
}


img  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center; 
      }
  


.button {
  background-color: #c2f0e8; 
  box-shadow: 0 5px rgb(27, 92, 111);
  font-size: 26px;
  font-family: "sarala", sans-serif;
  border-radius: 12px;
  margin-top: 19%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }


input {
  background-color: rgb(95, 213, 211);
  font-size: 30px;
  border-radius: 16px;

  margin-top: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

